<div class="col-lg-6 offset-3">
    <div class="row g-3 mt-3">
        <div class="col-lg-2">
            <label for="inputPassword" class="col-form-label">Nueva Tarea</label>
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" [(ngModel)]="Tarea">

        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-success" (click)="ActualizarTarea(Tarea)"><i
                    class="bi bi-trash3">Actualizar Tarea</i></button>
        </div>
    </div>
</div>